* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    /*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));*/
}




/* Mobile Styles */
@media only screen and (max-width: 500px) {
    body {
        width: 100%;
        aspect-ratio: 9/16;
        background-color:white ;
        border-color: red;
        border: 4px;
    }

    header {
        width: 100%;
        height: 200px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: red;
        position: absolute;
    }

    .navigation h1 {
        width: 60%;
        height: 100px;
        margin: 50px 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-size-adjust: auto;
        text-align: center;
        text-decoration: none;
        color: black;
        font-family: cursive;
        background-color: pink;
    }

    .navigation h2 {
        position: relative;
        display: flex;
        align-items: right;
        margin-left: 80%;
        width: 20%;
        float: right;
        background-color: green;
    }
}


