* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* Mobile Styles */
@media only screen and (max-width: 500px) {
    body {
        width: 100vw;
        height: 100vh;
        background-color: white ;

    }

    header {
        width: 100vw;
        height: 20vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .clearance {
        height: 25%;
        width: 100%;
        background-color: blue;
    }

    .navigation {
        width: 100%;
        height: 50%;
        background-color: white;
        margin: 0 0 5% 0;

        border: 1px solid gray;
    }

    .logo {
        height: 10vh;
        width: 10vh;
        border: 2px solid purple;
        position: absolute;
        float: left;
    }

    .logo img {
        margin: 10%;
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .orderButton {
        margin: 1vh 5% 0 0;
       /* margin-right: 5%;*/
        width: 30vw;
        height: 8vh;
        text-decoration: none;
        text-align: center;
        
        background-color: rgb(56, 56, 141);
        float: right;

        border: 0.5vh solid black;
    }

    .orderButton h1 {
        width: 100%;
        height: 100%;
        font-size: 2.5vh;
        font-family: cursive;
        display: flex;
        align-items: center;
        justify-content: center;
        color: green;


    }

    article {
        width: 100vw;
        height: 80vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    .Royal{
        width: 100%;
        height: 60vh;
        background-color: red;
        border-radius: 2vw;
        margin-bottom: 5vh;
        overflow: auto;

    }

    .Royal p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid gray;
    }
    .Royal h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        background-color: white;
        border-left: 2px solid black;
        border-right: 2px solid black;

        

    }

    .Royal h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        background-color: white;
        padding: 0 0 10% 5%;
        border-left: 2px solid black;
        border-right: 2px solid black;
        

    }
    .Royal h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        background-color: white;
        margin-bottom: 50vh;

    }
    .Royal h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        overflow: auto;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }


    .Coffee {
        
        width: 100%;
        height: 60vh;
        background-color: green;
        border-radius: 2vw;
        margin-bottom: 5vh;
        overflow: auto;
    }
    .Coffee p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid gray;
    }
    .Coffee h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        background-color: white;
        border-left: 2px solid black;
        border-right: 2px solid black;
    }
    .Coffee h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;


        background-color: white;
        padding-left: 5%;
    }
    .Coffee h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        background-color: white;

    }
    .Coffee h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        overflow: auto;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }




    .Bervage {
        width: 100%;
        height: 60vh;
        background-color: blue;
        margin-bottom: 5vh;
        overflow: auto;

        
    }

    .Bervage p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid gray;
    }
    .Bervage h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        border-left: 2px solid black;
        border-right: 2px solid black;
        background-color: white;


    }
    .Bervage h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        background-color: white;
        padding-left: 5%;

    }
    .Bervage h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        background-color: white;

    }
    .Bervage h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        overflow: auto;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }

    .Team {
        width: 100%;
        height: 60vh;
        background-color: violet;
        border-radius: 2vw;
        margin-bottom: 5vh;
        overflow: auto;
    }

    .Team p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid gray;
    }
    .Team h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        background-color: white;
        border-left: 2px solid black;
        border-right: 2px solid black;


    }
    .Team h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        background-color: white;
        padding-left: 5%;
        border-left: 2px solid black;
        border-right: 2px solid black;
    }
    .Team h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        background-color: white;

    }
    .Team h3 a{
        overflow: auto;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }
        /*.letter a{*/
        /*margin-top: -15%;*/
        /*margin-top: 10%;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

        word-wrap: break-word;
        width: 60%;
        height: 40%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        background-color: purple;
        text-decoration: none;
        margin-left: 20%;*/
    }

    footer {
        height: 70vh;
        width: 100vw;
        background-color: aquamarine;
        margin-top: 200vh;;
    }
}


/* Tablet Styles */
@media only screen and (min-width: 501px) and (max-width: 960px) {
    body {
        width: 100vw;
        height: 100vh;
        background-color: white ;

    }

    header {
        width: 100vw;
        height: 20vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .clearance {
        height: 25%;
        width: 100%;
        background-color: blue;
    }

    .navigation {
        width: 100%;
        height: 50%;
        background-color: white;
        margin: 0 0 5% 0;

        border: 1px solid gray;
    }

    .logo {
        height: 10vh;
        width: 10vh;
        border: 2px solid purple;
        position: absolute;
        float: left;
    }

    .logo img {
        margin: 10%;
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    .orderButton {
        margin: 1vh 5% 0 0;
       /* margin-right: 5%;*/
        width: 30vw;
        height: 8vh;
        text-decoration: none;
        text-align: center;
        
        background-color: rgb(56, 56, 141);
        float: right;

        border: 0.5vh solid black;
    }

    .orderButton h1 {
        width: 100%;
        height: 100%;
        font-size: 2.5vh;
        font-family: cursive;
        display: flex;
        align-items: center;
        justify-content: center;
        color: green;


    }

    article {
        width: 100vw;
        height: 80vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }

    .Royal{
        width: 100%;
        height: 60vh;
        background-color: red;
        border-radius: 2vw;
        margin-bottom: 5vh;
        overflow: auto;

    }

    .Royal p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid gray;
    }
    .Royal h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        background-color: white;
        border-left: 2px solid black;
        border-right: 2px solid black;

        

    }

    .Royal h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        background-color: white;
        padding: 0 0 10% 5%;
        border-left: 2px solid black;
        border-right: 2px solid black;
        

    }
    .Royal h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        background-color: white;
        margin-bottom: 50vh;

    }
    .Royal h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        overflow: auto;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }


    .Coffee {
        
        width: 100%;
        height: 60vh;
        background-color: green;
        border-radius: 2vw;
        margin-bottom: 5vh;
        overflow: auto;
    }
    .Coffee p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid gray;
    }
    .Coffee h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        background-color: white;
        border-left: 2px solid black;
        border-right: 2px solid black;
    }
    .Coffee h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;


        background-color: white;
        padding-left: 5%;
    }
    .Coffee h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        background-color: white;

    }
    .Coffee h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        overflow: auto;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }




    .Bervage {
        width: 100%;
        height: 60vh;
        background-color: blue;
        margin-bottom: 5vh;
        overflow: auto;

        
    }

    .Bervage p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid gray;
    }
    .Bervage h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        border-left: 2px solid black;
        border-right: 2px solid black;
        background-color: white;


    }
    .Bervage h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        background-color: white;
        padding-left: 5%;

    }
    .Bervage h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        background-color: white;

    }
    .Bervage h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        overflow: auto;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }

    .Team {
        width: 100%;
        height: 60vh;
        background-color: violet;
        border-radius: 2vw;
        margin-bottom: 5vh;
        overflow: auto;
    }

    .Team p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid gray;
    }
    .Team h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        background-color: white;
        border-left: 2px solid black;
        border-right: 2px solid black;


    }
    .Team h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        background-color: white;
        padding-left: 5%;
        border-left: 2px solid black;
        border-right: 2px solid black;
    }
    .Team h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        background-color: white;

    }
    .Team h3 a{
        overflow: auto;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }

    footer {
        height: 70vh;
        width: 100vw;
        background-color: aquamarine;
        margin-top: 200vh;;
    }
}


/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        width: 100vw;
        height: 100vh;
        background-color: white ;

    }

    header {
        width: 100vw;
        height: 20vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .clearance {
        height: 0;
        width: 0;
    }

    .navigation {
        width: 100%;
        height: 50%;
        background-color: white;
        margin: 0 0 5% 0;

        border: 1px solid gray;
    }

    .logo {
        height: 10vh;
        width: 10vh;
        border: 2px solid purple;
        position: absolute;
        float: left;
        margin-left: 1%;
    }

    .logo img {
        margin: 10%;
        width: 80%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        
    }

    .orderButton {
        margin: 1vh 5% 0 0;
       /* margin-right: 5%;*/
        width: 0;
        height: 0;
        text-decoration: none;
        text-align: center;
        
        background-color: rgb(56, 56, 141);
        float: right;
    }

    .orderButton h1 {
        width: 0;
        height: 0;
        font-size: 0;
        font-family: cursive;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;


    }

    article {
        width: 100vw;
        height: 130vh;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: black;

    }

    .Royal{
        width: 40%;
        height: 60vh;
        background-color: red;
        margin-bottom: 5vh;
        overflow: hidden;
        float: left;
        margin-left: 7.5%;

    }

    .Royal p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid gray;
    }
    .Royal h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        background-color: white;
        border-left: 2px solid black;
        border-right: 2px solid black;

        

    }

    .Royal h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        background-color: white;
        padding: 0 0 10% 5%;
        border-left: 2px solid black;
        border-right: 2px solid black;
        

    }
    .Royal h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        background-color: white;
        margin-bottom: 50vh;

    }
    .Royal h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        overflow: auto;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }


    .Coffee {
        
        width: 40%;
        height: 60vh;
        background-color: green;
        margin-bottom: 5vh;
        overflow: auto;
        float: right;
        margin-right: 7.5%;
    }
    .Coffee p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid gray;
    }
    .Coffee h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        background-color: white;
        border-left: 2px solid black;
        border-right: 2px solid black;
    }
    .Coffee h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;


        background-color: white;
        padding-left: 5%;
    }
    .Coffee h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        background-color: white;

    }
    .Coffee h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        overflow: auto;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }




    .Bervage {
        width: 40%;
        height: 60vh;
        background-color: blue;
        margin-bottom: 5vh;
        overflow: auto;
        float: left;
        margin-left: 7.5%;

        
    }

    .Bervage p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid gray;
    }
    .Bervage h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        border-left: 2px solid black;
        border-right: 2px solid black;
        background-color: white;


    }
    .Bervage h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        background-color: white;
        padding-left: 5%;

    }
    .Bervage h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        background-color: white;

    }
    .Bervage h3 a{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        overflow: auto;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }

    .Team {
        width: 40%;
        height: 60vh;
        background-color: violet;
        margin-bottom: 5vh;
        overflow: auto;
        float: right;
        margin-right: 7.5%;
    }

    .Team p{
        color: black;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid gray;
    }
    .Team h1 {

        width: 100%;
        height: 10%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: left;
        padding-left: 5%;
        background-color: white;
        border-left: 2px solid black;
        border-right: 2px solid black;


    }
    .Team h2 {
        width: 100%;
        height: 20%;
        color: black;
        justify-content: left;
        background-color: white;
        padding-left: 5%;
        border-left: 2px solid black;
        border-right: 2px solid black;
    }
    .Team h3{
        width: 100%;
        height: 10%;
        color: black;
        justify-content: left;
        border-left: 2px solid black;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        background-color: white;

    }
    .Team h3 a{
        overflow: auto;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        word-wrap: break-word;
        width: 60%;
        height: 80%;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 2px solid black;
        margin-left: 20%;
    }

    footer {
        height: 70vh;
        width: 100vw;
        background-color: aquamarine;
       /* margin-top: 50vh;*/
    }
}
